main {
  max-width: 1000px;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.books {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  place-items: center;
  gap: calc(200px / 3);
}
.book {
  position: relative;
}
.book .cover {
  width: 200px;
}
.book .heartBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  stroke: var(--color-gray);
  fill: none;
}
.book .heartBtn.on {
  stroke: none;
  fill: var(--color-red);
}
