main {
  max-width: 1000px;
  width: 100%;
  margin: 80px auto 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.books {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  place-items: center;
  gap: calc(200px / 3);
}
.book {
  position: relative;
  transition: all 0.5s ease;
  border: 2px solid var(--color-darkGreen);
  border-radius: 10px;
  padding: 20px;
}
.book .coverWrapper {
  position: relative;
  width: 200px;
  height: 200px;
}
.book .description {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.book .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book .contentWrapper {
  display: block;
}
.book .contentWrapper p {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book .heartBtn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  stroke: var(--color-gray);
  fill: none;
  transition: 0.3s all ease;
}
.book:hover .heartBtn {
  cursor: pointer;
  stroke: var(--color-darkGreen);
}
.book .heartBtn.on {
  stroke: none;
  fill: var(--color-darkGreen);
}
.book:hover {
  transform: scale(1.1);
}
.book:hover .description {
  opacity: 1;
}
@media (max-width: 800px) {
  main {
    margin: 200px auto 0px auto;
  }
  .books {
    grid-template-columns: repeat(2, 200px);
    gap: 100px;
    justify-content: center;
  }
}
