.pagination {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  gap: 10px;
}
.prevBtn {
  transform: scaleX(-1);
}
.prevBtn:hover,
.nextBtn:hover {
  cursor: pointer;
}
.paginationNumbers {
  display: flex;
  gap: 10px;
}
.paginationNumber {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.paginationNumber:hover {
  cursor: pointer;
  background-color: var(--color-green);
}
.paginationNumber.current {
  background-color: var(--color-green);
  border: 3px solid var(--color-darkGreen);
}
