.pagination {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  gap: 10px;
}
.prevBtn {
  transform: scaleX(-1);
}
.paginationNumbers {
  display: flex;
  gap: 10px;
}
.paginationNumber {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationNumber.current {
  background-color: var(--color-gray);
  border-radius: 3px;
}
